<h1>Modifica prodotto</h1>

<%= render 'form', product: @product %>

<br>
<%= link_to 'Mostra', @product, class: 'btn btn-sm btn-primary' %> 
<%= link_to 'Indietro', products_path, class: 'btn btn-sm btn-warning   ' %>
